body {
    background: white;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #131414;
    font-size: 60px;
    font-family: all;
    letter-spacing: 7px;
    border-radius: 2%;
    border: 2px solid red;
    padding: 10px;
}

@media screen and (min-with:801px) {
    .clock{
        width: 30%;
        float: left;
        padding: 10px;
    }
}